---
interface Props {
  title: string;
  subtitle1: string;
  subtitle2: string;
  description1: string;
  description2: string;
  videoSrc?: string;
  videoSrcDark?: string;
  videoSrc2?: string;
  videoSrc2Dark?: string;
}
const {
  title,
  description1,
  description2,
  subtitle1,
  subtitle2,
  videoSrc,
  videoSrcDark,
  videoSrc2,
  videoSrc2Dark,
} = Astro.props;
---

<!-- TODO: breakdown description to be for the two screens --><!-- Easily move completed tasks to a separate list organized by date and time. Completed subtasks are moved accordingly, leaving any incomplete subtasks for you to continue working on—keeping your workspace clean and focused on what’s next. -->
<section class="py-16">
  <div class="container mx-auto px-4">
    <!-- Title -->
    <h2 class="text-3xl font-normal text-center mb-8">
      {title}
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-[500px_1fr] gap-8">
      <!-- First Column -->
      <div class="flex flex-col justify-center">
        <h2 class="text-xl font-normal mb-4">{subtitle1}</h2>
        <p class="text-gray-600 dark:text-slate-400 text-base">
          {description1}
        </p>
      </div>

      <!-- Second Column -->
      <div class="shadow-lg">
        {
          videoSrc && (
            <video
              autoplay
              loop
              muted
              playsinline
              class="rounded-lg shadow-lg dark:hidden"
              src={videoSrc}
            />
          )
        }
        {
          videoSrcDark && (
            <video
              autoplay
              loop
              muted
              playsinline
              class="rounded-lg hidden dark:block"
              src={videoSrcDark}
            />
          )
        }
      </div>
    </div>

    <div class="mt-10 grid grid-cols-1 md:grid-cols-[1fr_500px] gap-8">
      <!-- First Column -->
      <div class="shadow-lg">
        {
          videoSrc && (
            <video
              autoplay
              loop
              muted
              playsinline
              class="rounded-lg dark:hidden"
              src={videoSrc2}
            />
          )
        }
        {
          videoSrcDark && (
            <video
              autoplay
              loop
              muted
              playsinline
              class="rounded-lg shadow-lg hidden dark:block"
              src={videoSrc2Dark}
            />
          )
        }
      </div>

      <!-- Second Column -->
      <div class="flex flex-col justify-center">
        <h2 class="text-xl font-normal mb-4">{subtitle2}</h2>
        <p class="text-gray-600 dark:text-slate-400 text-base">
          {description2}
        </p>
      </div>
    </div>
  </div>
</section>
